*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(255, 255, 255));
}
.contaner{
    width: 600px;
    height: 400px;
    background-color: rgb(17, 0, 253);
    margin: 10% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    flex-direction: column;
    border: 30px solid rgb(255, 255, 255);
    box-shadow: 5px 5px  10px red;
    border-radius: 10px;
}
audio{
    background: transparent;
    width: 500px;
    border-radius: 120px 0 120px 0;
    margin-top: 19px;
    

}